body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    padding: 10px 0;
    text-align: center;
    text-decoration: underline;
}
nav {
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
}
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img {
    width:600px;
    height:400px;
    border-radius: 5px;
}
h3 {
    text-align: center;
    text-decoration: underline;
    width: 100%;
}
#district, #city {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
#larry, #christy, #pat, #ari {
    text-align: center;
}